<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/templates/fragments/style.css">
</head>
<body>
  <header>
    <div>
         <img src="" alt="" class="logo">
        <img src="/src/main/resources/templates/img/Logo.png" alt="#" width="64" height="64">
    </div>
    <div class="sub-board">
        <span>속닥속닥</span>
        <div class="sub-content">
            <p>자랑게시판</p>
            <p>자유게시판</p>
            <p>공지사항</p>
        </div>
    </div>

    <div class="sub-board">
        <span>쇼핑</span>
        <div class="sub-content">
            <p>중고거래</p>
            <p>추천상품</p>
        </div>
    </div>

    <div class="sub-board">
        <span>이불밖으로</span>
    </div>

    <ul>
        <button class="sign">로그인</button>
        <button class="sign">회원가입</button>
    </ul>
  </header>
</body>
</html>